# Next.js
cashionix-frontend/node_modules/
cashionix-frontend/.next/
cashionix-frontend/.env*

# Django
cashionix-backend/venv/
cashionix-backend/__pycache__/
cashionix-backend/*.sqlite3
cashionix-backend/.env*

# OS
.DS_Store
Thumbs.db

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment
.env
.env.local
